*, *::after, *::before {
  box-sizing: border-box;
  color: #2c2c54;//#030303;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f6f3ec; //#FFF7F0;
  margin-inline: 3em;
}

nav {
  width: fit-content;
  margin: auto;
  ul {
    padding-inline: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    & > li {
      list-style: none;
      font-weight: bold;
      font-size: larger;

      & > a {
        text-decoration: none;

        &:hover, &:active {
          border-bottom: 2px solid #40407a//#3372B1;
        }
      }
      padding-inline: 1.5em;

      &:not(:last-child) {
        border-right: 1px solid currentColor;
      }
    }

    padding-bottom: 1em;
    border-bottom: 2px solid #40407a//#3372B1;
  }
}

header > div {
  & img {
    height: 10em;
  }

  & h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section:not(:target) {
  display: none;
}

main > section:not(:has(:target)):first-child {
  display: block;
}

main > section {

}

.carousel {
  display: flex;
  flex-direction: row;
  position: relative;
  > button {
    top: 50%;
    transform: translateY(-50%);

    &:last-child {
      right: 0;
    }
    svg {
      width: 100px;
      height: 100px;
      fill: white;
      path {
        filter:
          drop-shadow(-1px -1px 0px gray)
          drop-shadow(2px -1px 0px gray)
          drop-shadow(2px 2px 0px gray)
          drop-shadow(-1px 2px 0px gray)
      }
      background: transparent;

    }
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #40407a;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &:hover {
        color: #2c2c54;
    }
  }

  .carousel__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
      overflow-x: scroll;
  overscroll-behavior-x: contain;
    img {
      inline-size: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
}
